
body {
  background-color: #F8F9F9  
}

*{
  margin:0;
  padding:0;
  font-family:'Tiempos Headline Light';
}

li{
  list-style-type: none
}

.agradecimientos{
  display: flex;
  flex-direction: column
}
.texto-card{
  margin: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.mail-enviado{
  margin-top:15px;
  color: red;
}
.slogan{
  font-family: monospace;
  background-color: #F39C12;
  
  padding: 2px;
}

.main-home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: #F8F9F9  
}
.main-login{
  background-color: #F8F9F9;
  height: 100%;  
}
.main-private{
  background-color: #F8F9F9;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  
}

.datos-login{
  text-align: center;
  margin: 10px;
}
.datos-creacion{
  margin: 10px;
  font-size: 1.2em
}
.nombre-password{
  color:#F39C12;
}

.margenes-creacion-vivienda{
  margin-top: 10px;
  
}
.container-delete{
  margin-left: 15px;
}
.cuadro-delete{
  border: #F39C12 1px solid;
  margin: 10px;
}
.center-input{
  text-align: center;
  margin: 15px;
  font-size:1em;
}

.centrar-textos{
  text-align: center;
  margin-top: 10px;
}
.subir-imagen{
  background-color:steelblue;
  color: white;
  padding: 10px;
  border-radius: 10px
}

.cuadro-login{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
}

.cuadro-creacion{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 15px auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
}

.cuadro-informacion{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1em;
  
}
.cartera-viv{
  border: #F39C12 4px solid;
}
.container-foto{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  /* width: 100%; */
  height: auto
}



.foto{
  height: 300px;
  width: auto;
}
.card{
  width: 95%;
  background-color: white;
  margin: auto;
}
.recibir-inform{
  margin-top: 25px;
}
.parte-informacion{
  width: 100%;
}
a{
  text-decoration: none;
  font-weight: 2em;
  font-size: 2em;
}


.letra{
  color: black;
  font-size: 1.2em
}
.letra-signup{
  color: black;
  font-size: 2em
}

.list-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.color{
  background-color:#F39C12;
}
.navbar-private{
  display: flex;
  
}

.items-navbar-private{
  display: flex;
  flex-direction: column
}

.logo{
  height: 100px;
  width: 100px;
}