
body {
  background-color: #F8F9F9  
}


*{
  margin:0;
  padding:0;
  /* width:100%; */
  font-family:'Tiempos Headline Light';
}

li{
  list-style-type: none
}
/* .logo{
  height: 100%;
  width: 100%;
} */

.logo-logout{
  height: 40px;
  width: 40px;
  border-radius: 25px;
  float: right;
  margin-top: 25px
}

.logo-staff{
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-top: 25px
}
.logo-detalle{
  height: 40px;
  width: 40px;
  
}



.agradecimientos{
  display: flex;
  flex-direction: column
}
.texto-card{
  margin: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.mail-enviado{
  margin-top:15px;
  color: red;
}
.slogan{
  font-family: monospace;
  background-color: #F39C12;
  
  padding: 2px;
}

.main-home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: #F8F9F9  
}
.main-login{
  background-color: #F8F9F9;
  height: 100%;  
}
.main-private{
  background-color: #F8F9F9;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  
}

.datos-login{
  text-align: center;
  margin: 25px;
}
.datos-creacion{
  text-align: center;
  margin: 25px;
  font-size: 1.5em
}
.nombre-password{
  color:#F39C12;
}

.btn-private{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  /* width: 50%; */
  text-align: center;
  margin: 12px auto;
  text-decoration: none;
  /* display: flex;
  justify-content: center; */
}

.btn-home{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}

.btn-recibir-inform{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  text-decoration: none;
  margin-bottom: 25px;
  justify-content: center;
}

.select-search{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.select-creacion{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 11px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 70%;
  text-align: center;
  margin: 15px auto;
  display: flex;
  margin-top: 5px;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn-select-search{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 70%;
  display: flex;
  margin: 25px auto;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.btn-select-delete{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 90%;
  display: flex;
  margin: 25px auto;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
.margenes-creacion-vivienda{
  margin-top: 10px;
  
}
.container-delete{
  margin-left: 15px;
}
.cuadro-delete{
  border: #F39C12 1px solid;
  margin: 10px;
}
.center-input{
  text-align: center;
  margin: 15px;
  font-size:1em;
}
/* img{
  height: 300px;
  width: 100%;
} */
.prohibido{
  width: 40px;
  height: 40px;;
}
.centrar-textos{
  text-align: center;
  margin-top: 10px;
}
.subir-imagen{
  background-color:steelblue;
  color: white;
  padding: 10px;
  border-radius: 10px
}

.btn-select-detail{
  border: #F39C12 3px solid;
  background-color: #F8F9F9;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  width: 80%;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
  margin-top: 25px;
  text-decoration: none;
  
}

.cuadro-login{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
}

.cuadro-creacion{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 15px auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
}

.cuadro-informacion{
  border-radius: 20px;
  border: #F39C12 2px solid;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 30px;
  text-align: center;
  font-size: 1em;
  
}
.cartera-viv{
  border: #F39C12 4px solid;
}
.container-foto{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  /* width: 100%; */
  height: auto
}



.foto{
  height: 300px;
  width: auto;
}
.card{
  width: 95%;
  background-color: white;
  margin: auto;
}
.recibir-inform{
  margin-top: 25px;
}
.parte-informacion{
  width: 100%;
}
a{
  text-decoration: none;
  font-weight: 2em;
  font-size: 2em;
}


.letra{
  color: black;
  font-size: 1.5em
}

.list-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.color{
  background-color:#F39C12;
}
.navbar-private{
  display: flex;
  
}

.items-navbar-private{
  display: flex;
  flex-direction: column
}

.logo{
  height: 100px;
  width: 100px;
}